.sectionContainer {
  width: 100%;
  background-color: bisque;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  row-gap: 5rem;
  padding: 1rem 1rem 4rem 7rem;
}
.header {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 0;
}
